<div class="modal stable-bg">
	<ion-header-bar class="stable-bg">
		<button class="button" ui-sref="person">
			<i class="icon ion-arrow-left-c"></i>
		</button>
		<h1 class="title">帐号注册</h1>
	</ion-header-bar>

	
	<ion-content padding='true' scroll='false'>
		<!-- 表单验证 -->
		<form class="resetfrom" name="myForm" ng-submit='submitData()'>
			<div class="list list-wrap padding-horizontal biaodan" >
			<div class="row clearpadding">
				<label class="item item-input col-60 ">
					<input type="text" placeholder="请输入用户名" class="form-control" 
	                   ng-model="userdata.name" 
	                   name="nameEle"
	                   autocomplete="off"
	                   ng-pattern="/^\w{4,12}$/"
	                   ng-required="true">
				</label>
				<label>
					<p ng-if="myForm.nameEle.$touched && myForm.nameEle.$invalid" class="text-danger">用户名错误</p>
					<p ng-if="myForm.nameEle.$touched && myForm.nameEle.$valid" class="text-success">用户名可用</p>
				</label>
			</div>
	

			<div class="row clearpadding">
				<label class="item item-input col-60">
					<input type="password" class="form-control" ng-model="userdata.pwd" name="pwdEle" id="pwdInput" autocomplete="off"  ng-required='true' placeholder="请输入密码"
					ng-minlength='6' ng-maxlength='18'>
				</label>
				<label>	
					<p class="text-success" ng-if="myForm.pwdEle.$touched && myForm.pwdEle.$valid">密码有效</p>
					<p class="text-danger"  ng-if="myForm.pwdEle.$touched &&( myForm.pwdEle.$error.minlength || myForm.pwdEle.$error.maxlength )">密码错误</p>
				</label>
			</div>

			<div class="row clearpadding">
				<label class="item item-input col-60">
					<input type="password" class="form-control" ng-model="userdata.repwd" name="repwdEle" id="repwdInput" placeholder="确认密码">
				</label>
				<label>
					<p class="text-success" ng-if="myForm.repwdEle.$touched && checkPwd()">密码一致</p>
					<p class="text-danger"  ng-if="myForm.repwdEle.$touched && !checkPwd()">密码不一致</p>
				</label>
			</div>
			<div class="row clearpadding">
				<label class="item item-input col-60">
					<input type="tel" placeholder="请输入手机号" class="form-control" 
	                   ng-model="userdata.tel" 
	                   name="telEle"
	                   autocomplete="off"
	                   ng-pattern="/^1([358][0-9]|4[57]|7[0135678])\d{8}$/"
	                   ng-required="true">
				</label>
				<label>
					<p ng-if="myForm.telEle.$touched && myForm.telEle.$invalid" class="text-danger">手机号错误</p>
					<p ng-if="myForm.telEle.$touched && myForm.telEle.$valid" class="text-success">手机号可用</p>
				</label>
			</div>
			<ion-list>
			  <div class="row">
			  	<div class="col">
			  		<ion-radio ng-model="userdata.sex" ng-value="'m'">男</ion-radio>
			  	</div>
			  	<div class="col">
			  		<ion-radio ng-model="userdata.sex" ng-value="'w'">女</ion-radio>
			  	</div>
			  </div>
			</ion-list>
			</div>
			<div class="row row-wrap biaodan2">
				<button class="button button-positive button-light col col-80 col-offset-10 button-small" ng-disabled="myForm.$invalid || !checkPwd()" style="font-size:15px;font-family:微软雅黑">注 册</button>
			</div>
		</form>		
	</ion-content>
</div>